<div class="expense-list-container">
  <div class="list-top-bar">
    <div class="list-top-title">
      <div class="circle"></div>
      <div class="list-icon">
        <mat-icon class="icon" svgIcon="gasStationOrange"></mat-icon>
      </div>
      <div class="title">Station Name Dummy</div>
    </div>
    <div class="list-three-dots">
      <mat-icon class="icon" svgIcon="three-dots"></mat-icon>
    </div>
  </div>
  <div class="list-divider"></div>
  <div class="list-table">
    <div class="list-name-value">
      <p class="name">Total Sales</p>
      <p class="value">62,721 m3</p>
    </div>

    <div class="list-name-value">
      <p class="name">Compression State</p>
      <p class="value">compression</p>
    </div>

    <div class="list-name-value">
      <p class="name">Max Transaction / hour</p>
      <p class="value">20</p>
    </div>
    <div class="list-name-value">
      <p class="name">Total Value</p>
      <p class="value">550 EGP</p>
    </div>
    <div class="list-name-value">
      <p class="name">Total Transaction Count</p>
      <p class="value">5161</p>
    </div>
    <div class="list-name-value">
      <p class="name">Max Transaction Date-Time</p>
      <p class="value">8-1-2021 | 10:16 PM</p>
    </div>
  </div>
</div>
