<div class="side-nav">
  <div class="side-nav-logo">
    <mat-icon class="logo-icon" svgIcon="PMS"></mat-icon>
  </div>

  <div class="side-nav-options">
    <mat-icon class="icon" svgIcon="controlRoom"></mat-icon>
    <mat-icon class="icon" svgIcon="dashboard"></mat-icon>
    <mat-icon class="icon" svgIcon="elements"></mat-icon>
    <mat-icon class="icon" svgIcon="settings"></mat-icon>
    <mat-icon class="icon" svgIcon="notifications"></mat-icon>
  </div>

  <div class="side-nav-logout">
    <mat-icon class="logout-icon" svgIcon="logout"></mat-icon>
  </div>
</div>
