.top-nav{
  /* height: 75px; */
  height: max-content;
  z-index: 0;
  background-color: white;
  padding-left: 80px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content{
  /* padding-left: 100px; */
  height: 90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  /* border: 1px solid red; */
}

.states{
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  width: max-content;
  /* border: 1px solid red; */
  margin-left: 20px;
}

.tabs{
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.date-section{
  width: max-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  /* border: 1px solid red; */
}

@media (max-width: 500px){

  .states{
    display: flex;
    flex-direction: column;
  }
}


