.top-nav{
  height: 75px;
  z-index: 0;
  background-color: white;
  padding-left: 80px;
  padding-right: 40px;
}

.content{
  /* padding-left: 100px; */
  height: 90%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  /* border: 1px solid red; */
}

.states{
  display: flex;
  gap: 40px;
  width: max-content;
  /* border: 1px solid red; */
  margin-left: 20px;
}

.tabs{
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.date-section{
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  /* border: 1px solid red; */
}
