<div class="top-nav">
  <div class="content">

    <div class="states">
      <app-top-nav-state
        [inputElement]="{ number: '2/3', text: 'Monitored Stations', type: 'monitored' }"
      ></app-top-nav-state>
      <app-top-nav-state
        [inputElement]="{ number: '20s', text: 'Last Update', type: 'update' }"
      ></app-top-nav-state>
    </div>

    <div class="tabs">
      <app-top-nav-tabs></app-top-nav-tabs>
    </div>

    <div class="date-section">
      <app-date-picker [type]="'start'"></app-date-picker>
      <app-date-picker [type]="'end'"></app-date-picker>
    </div>

  </div>
</div>
