<div class="sales-card">
  <div class="title">Sales by Station</div>
  <div class="station-state-container">
    <div class="station-value">
      <div class="left-part">
        <mat-icon class="icon" svgIcon="gasStation"></mat-icon>
        <div class="text">Station Name</div>
      </div>

      <div class="value">62,721m3</div>
    </div>

    <div class="station-bar-background">
      <div class="bar-value"></div>
    </div>
  </div>


  <div class="station-state-container">
    <div class="station-value">
      <div class="left-part">
        <mat-icon class="icon" svgIcon="gasStation"></mat-icon>
        <div class="text">Station Name</div>
      </div>

      <div class="value">62,721m3</div>
    </div>

    <div class="station-bar-background">
      <div class="bar-value"></div>
    </div>
  </div>

  <div class="station-state-container">
    <div class="station-value">
      <div class="left-part">
        <mat-icon class="icon" svgIcon="gasStation"></mat-icon>
        <div class="text">Station Name</div>
      </div>

      <div class="value empty-text">NM</div>
    </div>

    <div class="station-bar-background empty">
      <!-- <div class="bar-value"></div> -->
    </div>
  </div>
</div>
