.sales-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: max-content;
  padding-bottom: 30px;
  width: 100%;
  /* border: 1px solid red; */
}

.title{
  font-family: 'Montserret';
  font-size: 20px;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 20px;
}

.station-state-container{
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px
}

.station-value{
  width: calc(100% - 20px);
  gap: 10px;
  align-items: center;
  display: flex;
  padding: 0 10px 0 10px;
  font-family: 'Montserret';
  color: var(--text-color);
  justify-content: space-between;
  /* border: 1px solid red; */
}

.station-value .left-part{
  display: flex;
  align-items: center;
  gap: 10px;
  width: max-content;
  /* border: 1px solid red; */
}

.station-value .icon{
  width: 35px;
  height: 35px;
}

.station-value .text{
  font-size: 0.8em;
  font-weight: 600;
}

.station-value .value{
  font-size: 1.1em;
}

.station-bar-background{
  height: 5px;
  padding: 0 10px 0 10px 0;
  width: calc(100% - 20px);
  background-color: var(--secondary);
  border-radius: 10px;
}

.empty{
  background-color: var(--emptyBarColor);
}

.empty-text{
  color: var(--emptyBarColor);
}

.station-bar-background .bar-value{
  height: 95%;
  width: 40%;
  border-radius: 10px;
  background-color: var(--primary);
}
