.display-option-tabs {
  background-color: var(--white);
  width: 290px;
  height: 30px;
  border-radius: 50px;
  margin-right: 40px;
  display: flex;
  justify-content: center;
  padding: 2px;
  gap: 3px;
}

.option-tab {
  color: var(--text-color);
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-family: "Montserret";
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-size: 0.6em;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  /* border: 1px solid red; */
}

.selected {
  background-color: var(--primary);
  color: var(--white);
}
